<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/2-footer.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/1-filters.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/0-hbnb.css?{{ cache_id }}" />
</head>
<body>
    <!-- Page content goes here -->
</body>
</html>

